::-webkit-scrollbar {
    width: 10px!important;
    height: 6px!important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2) !important;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: hsla(0,0%,100%,.1) !important;
}