.passwordReset {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.passwordReset form {
    width: 400px;
    box-sizing: border-box;
    padding: 50px 50px 10px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 10px #ddd, -3px -3px 10px #ddd;
}

.passwordReset__inputField {
    margin-top: 15px !important;
}

.passwordReset__submitBtn {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    background-color: #dc3545 !important;
}

.passwordReset__submitBtn:hover {
    background-color: #f11a30 !important;
}
